<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            padding-top: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Edit Book</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.picture.label(class="form-control-label") }}
            {{ form.picture(class="form-control-file") }}
        </div>

        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.author.label(class="form-control-label") }}
            {{ form.author(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.isbn.label(class="form-control-label") }}
            {{ form.isbn(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.genre.label(class="form-control-label") }}
            {{ form.genre(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.publication_year.label(class="form-control-label") }}
            {{ form.publication_year(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.available_quantity.label(class="form-control-label") }}
            {{ form.available_quantity(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.total_quantity.label(class="form-control-label") }}
            {{ form.total_quantity(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.shelf.label(class="form-control-label") }}
            {{ form.shelf(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
</div>

<!-- Bootstrap JS and dependencies (Optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>