{% extends "layout.html" %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Library</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mlogout') }}">Logout</a>
                    <a href="{{ url_for('member_loans', member_id=session['member_id']) }}">Borrowed Books</a>
                </li>
            </ul>
        </div>
    </nav>
    
    {% if books %}
        <div class="row">
            {% for book in books %}
                <div class="col-md-4 mb-4"> <!-- Adjust col-md-4 for 3 books per row -->
                    <div class="card h-100">
                        <div class="card-body">
                            {% if book.picture %}
                            <img src="{{ url_for('static', filename='uploads/' + book.picture) }}" alt="{{ book.title }}" width="100">
                            {% else %}
                            No image
                            {% endif %}
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
                            <p class="card-text"><strong>Description:</strong>{{ book.description }}</p>
                            <p class="card-text"><strong>Publication Year:</strong>{{ book.publication_year }}</p>
                            {% if book.available_quantity > 0 %}
                            <button onclick="document.getElementById('borrow-form').submit();">Borrow</button>

                            <form id="borrow-form" action="{{ url_for('borrow_book', book_id=book.id) }}" method="POST" style="display:none;">
                                {{ csrf_token() }}
                            </form>
                            {% else %}
                            <span>Not Available</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No books available at the moment.</p>
    {% endif %}
</div>
{% endblock %}